{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Sample - Quality and Production Management</title>
</head>
<body>
<main>
    <section class="about-us">
        <div class="container">
            <h2><b>About Golden Sample app</b></h2>
            <br>
            <p>Recognizing the critical importance of effectively managing quality and production processes, we have developed smart management application specifically tailored for handling golden samples.
                This system ensures the highest standards of quality control and production efficiency.</p>
            <br>
            <h3><b>Key Features:</b></h3>
            <ul>
                <li>Sample Tracking: Keep track of every stage of your golden sample's journey, from initial collection to final return.</li>
                <li>Quality Management: Implement stringent quality control measures to maintain the purity and integrity of your golden samples.</li>
                <li>Production Optimization: Streamline your production processes to maximize efficiency and minimize hazards.</li>
                <li>User-Friendly Interface: Our intuitive interface makes it easy for users at all levels to navigate and utilize the system effectively.</li>
            </ul>
            <br>
            <h3><b>Why Choose Golden Sample:</b></h3>
            <ul>
                <li>Reliability: Count on Golden Sample to deliver reliable and accurate data.</li>
                <li>Customization: Tailor the system to fit your specific needs and requirements.</li>
                <li>Expert Support: Our dedicated support team is here to support you providing assistance and troubleshooting whenever needed.</li>
            </ul>
            <p>Whether you're a small-scale operation or a large industrial facility, Golden Sample is your trusted partner in quality and production management.</p>
        </div>
    </section>
</main>
</body>
</html>
{% endblock %}
